<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".activity.RecorderActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <provider
            android:name=".AudioRecorderFileProvider"
            android:authorities="${applicationId}.mediakit.audiorecorder.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/audiorecorder_file_paths" />
        </provider>
    </application>

</manifest>
